body {
	font-family: 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #420600 url('img/bg-texture.jpg');
}
.nav li a, 
.nav li a:hover {
	background: none;
	color: #FAF3BC;
}
.nav {
	margin-top: 100px;
}
.btn {
	color: #FAF3BC;
	background: #4FB69F url('img/texture.png') no-repeat right top;
	margin: 40px 0px;
	padding: 15px 30px;
	border-radius: 25px;
	text-transform: uppercase;

}
.btn:hover {
	background-color: #4CC4A7;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif; 

}

#intro {
	margin: 50px 0 75px 0;
}

#new-cupcakes img {
	border: 8px solid #FAF3BC;
	margin: 0 0 20px 0;
}

#featured-cupcake img {
	border: 8px solid #FAF3BC;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
}
